/医院项目/2022.7-/7.8-MobileNetV3和Fast-SCNN.docx
/医院项目/2022.7-/内镜联合病理课题.zip
/医院项目/2022.7-/医院合同.zip
/FireDetection/OpenCV/day.mp4
/FireDetection/OpenCV/day_out.mp4
/FireDetection/OpenCV/night.mp4
/FireDetection/OpenCV/night_out.mp4
/FireDetection/OpenCV/第一版/video3.mp4
/FireDetection/OpenCV/第一版/video3out.mp4
/handson-ml2-master/Hands-On Machine Learning -by Aurelien Geron.pdf
/handson-ml2-master/07_ensemble_learning_and_random_forests.ipynb
/handson-ml2-master/08_dimensionality_reduction.ipynb
/handson-ml2-master/09_unsupervised_learning.ipynb
/handson-ml2-master/15_processing_sequences_using_rnns_and_cnns.ipynb
/handson-ml2-master/16_nlp_with_rnns_and_attention.ipynb
/handson-ml2-master/17_autoencoders_and_gans.ipynb
/handson-ml2-master/18_reinforcement_learning.ipynb
/handson-ml2-master/19_training_and_deploying_at_scale.ipynb
